name: aimrocks packaging pipeline

on: workflow_dispatch

jobs:
  uploading-wheels:
    needs:
      - linux-dist-x86_64
    runs-on: ubuntu-22.04
    name: Uploading wheels
    steps:
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: x64
          
      - name: Install dev dependencies
        run: |
          python -m pip install twine
          
      - name: Download all the wheels
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: artifact
      
      - name: Display structure of downloaded files
        run: ls -R

  linux-dist-x86_64:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        manylinux-version:
          - {image: 'manylinux_2_28_x86_64', tag: 'latest'}
    name: ${{ matrix.manylinux-version.image }}
    steps:
      - name: Install Docker & images
        run: |
          apt update && apt install -y docker.io
          sudo systemctl enable --now docker

      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: x64

      - name: Pull Docker Images
        run: |
         docker pull quay.io/pypa/${{ matrix.manylinux-version.image }}:${{ matrix.manylinux-version.tag }}

      - uses: satackey/action-docker-layer-caching@v0.0.11
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true
        with:
          key: aimrocks-cython-manylinux-build-${{ matrix.manylinux-version.image }}-{hash}
          restore-keys: |
            aimrocks-cython-manylinux-build-${{ matrix.manylinux-version.image }}-

      - name: Building dependencies for ${{ matrix.manylinux-version.image }}
        run: |
         docker build \
         --build-arg FROM=quay.io/pypa/${{ matrix.manylinux-version.image }}:${{ matrix.manylinux-version.tag }} \
         --target deps .

      - name: Building rocksdb for ${{ matrix.manylinux-version.image }}
        run: |
         docker build \
         --build-arg FROM=quay.io/pypa/${{ matrix.manylinux-version.image }}:${{ matrix.manylinux-version.tag }} \
         --target rocksdb .

      - name: Building wheels for ${{ matrix.manylinux-version.image }}
        run: |
         docker build \
         --build-arg FROM=quay.io/pypa/${{ matrix.manylinux-version.image }}:${{ matrix.manylinux-version.tag }} \
         --target wheels . \
         -t aimhubio/aimrocks:${{ matrix.manylinux-version.image }}

      - name: Auditing wheels for ${{ matrix.manylinux-version.image }}
        run: |
         mkdir -p manylinux_dist/ && \
         docker run --rm \
         --mount type=bind,source=$PWD/manylinux_dist,target=/opt/aimrocks/manylinux_dist \
         aimhubio/aimrocks:${{ matrix.manylinux-version.image }} \
         bash -e /opt/aimrocks/docker/audit-wheels.sh

      - uses: actions/upload-artifact@v4
        with:
          path: manylinux_dist/*.whl
          name: artifact-${{ matrix.manylinux-version.image }}
          if-no-files-found: error
